<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
</head>
<style>
    body {
        font-size: 12px;
    }
    table {
        width: 700px;
        border-collapse: collapse;
    }
    table th,
    table td {
        text-align: center;
        padding: 5px;
        border: lpx solid lightslategray
    }
    table th {
        background-color: dodgerblue;
        color: #ffffff;
    }
    table caption {
        text-align: center;
        margin-bottom: 10px;
    }

</style>
<h2>
    동국제강 외부망 원격접속 포트 변경 대상 서버
</h2>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>사업소</th>
                <th>시스템 명</th>
                <th>장비</th>
                <th>OS Version</th>
                <th>HostName</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IDC</td>
                <td>Mill Sheet/EDI WEB</td>
                <td>NT</td>
                <td>2003 Std</td>
                <td>DSHNPMS2</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>검사증명서QR</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>DSHNMTC2</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>eBiz / Web Dispatcher</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>eBiz</td>
                </tr>
               <tr>
                <td>IDC</td>
                <td>BC법인카드</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>DSHNPBC1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>전자보증/전자입찰
                    업체소싱(IMK)/Psoco B2B</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>DSHNPEB1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>조달청 나라장터</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>DSHNDTD1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>Security서버(외부접속용)</td>
                <td>NT</td>
                <td>2008 R2 Std</td>
                <td>DSHNVSC2</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>세금계산서/폐기물전자연계</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>DSHNPWE1</td>
                </tr>
               <tr>
                <td>IDC</td>
                <td>IIDS모바일</td>
                <td>NT</td>
                <td>2003 R2 Std</td>
                <td>DSHNPOI1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>MES 출하 조회 시스템</td>
                <td>NT</td>
                <td>2008 R2 Std</td>
                <td>DSHNPME1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>FTA Web</td>
                <td>NT</td>
                <td>2008 R2 Std</td>
                <td>DSHNPFT1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>Gateway Server</td>
                <td>NT</td>
                <td>2003 R2 Std</td>
                <td>PSHNSBC1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>OMS 외부/설비관리/DK Message</td>
                <td>NT</td>
                <td>Win 2012</td>
                <td>USINPBA1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>수출입 EDI 송수신</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>USINPEA1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>펌뱅킹/이크레더블</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>USINPFA1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>모바일 eBiz</td>
                <td>Linux</td>
                <td>CentOS 6.5</td>
                <td>DSHLMEW1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>E-Biz #1</td>
                <td>Linux</td>
                <td>RHEL 6.5</td>
                <td>DSHLPBZ1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>모바일 근로시간 관리</td>
                <td>Linux</td>
                <td>CentOS 7</td>
                <td>CSHLPHRM-01</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>통합 모바일 앱스토어</td>
                <td>Linux</td>
                <td>CentOS 7</td>
                <td>DSHLMAS1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>E-Biz #2</td>
                <td>Linux</td>
                <td>RHEL 6.5</td>
                <td>DSHLPBZ2</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>공통 HAProxy #1</td>
                <td>Linux</td>
                <td>CentOS 7</td>
                <td>DSHLMTP1</td>
               </tr>
               <tr>
                <td>IDC</td>
                <td>FTA AP</td>
                <td>Linux</td>
                <td>Redhat 6.3</td>
                <td>USILPGA1</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>신규 홈페이지서버 개발</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>cshlpihp</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>내방객서버#1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHNPIVST-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>내방객서버#2</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHNPIVST-02</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>G/W OUT WAS #1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPOUT-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>모바일 WAS #1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPMBL-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>모바일 WAS #2</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPMBL-02</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>메일 외부 WAS #1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPIMAP-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>Spam #1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPSPAM-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>Spam #2</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPSPAM-02</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>메신저 HA #1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPDTHA-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>메신저 HA #2</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPDTHA-02</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>스팸개발/모바일개발</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPDSPM-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>업무관리 WAS</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLTMSWAS-01</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>환경안전모바일#1</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPSFM-1</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>환경안전모바일#2</td>
                <td>Linux</td>
                <td>Redhat 7.3</td>
                <td>CSHLPSFM-2</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>NIRIS 모니터링</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>CSHNPIOCFEG-2</td>
               </tr>
               <tr>
                <td>GW</td>
                <td>모바일 웹개발 TEST</td>
                <td>NT</td>
                <td>2008 R2 Ent</td>
                <td>CSHNPIMBGW-2</td>
               </tr>
                <tr>
                <td>인천</td>
                <td>Bardisk</td>
                <td>NT</td>
                <td>Window 2012</td>
                <td>DNHNBAR1</td>
               </tr>
               <tr>
                <td>인천</td>
                <td>스크랩 운송관리1</td>
                <td>Linux</td>
                <td>Redhat7.0</td>
                <td>DNHLSTMS1</td>
               </tr>
               <tr>
                <td>인천</td>
                <td>스크랩 운송관리2</td>
                <td>Linux</td>
                <td>Redhat7.0</td>
                <td>DNHLSTMS2</td>
               </tr>
               <tr>
                <td>인천</td>
                <td>스크랩 검수관리</td>
                <td>Linux</td>
                <td>Redhat 6.5</td>
                <td>DNHLSIMS1</td>
               </tr>
               <tr>
                <td>포항</td>
                <td>하화검수</td>
                <td>Linux</td>
                <td>Redhat 7.6</td>
                <td>DPHLSIM1</td>
               </tr>
        </tbody>
    </table>
</body>

